@import './fullscreen.css';


body {
  font-family: arial;
  margin: 0;
  padding: 0;
  color: #222;
}


body > * {
  margin-left: 2em;
}


h1 {
  padding: 1em;
  margin: 0 0 1em 0;
  background-color: grey;
}


ul {
  width: 50%;
}


li {
  padding: 0.5em;
}


#container-pad {
  padding: 2em;
  border: solid 1px #aaa;
  margin-right: 2em;
  background-color: white;
}


/** These settings are necessary for the fullscreen container. */
#container {
  position: relative;
  top: 0;
  left: 0;
  background-color: inherit;
}
